.hide {
    display:none;
}

.login {
    margin:20px;
}
.break {
    border:1px solid #f1f1f1;
    display:block;
    margin:20px 0;
}
.err_msg{
    color: #e74c3c;
    text-align: center;
}
.col-centered{
    float: none;
    margin: 0 auto;
}